.app{
    background-color: #fafafa;
    height: 100%;
}
.app_header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:white;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    object-fit: contain;
    display:flex;
    justify-content: space-between;
}
.app_header_image{
    width: 20%;
    object-fit: contain;
}
.app_header_form{
    display: flex;
    flex-direction: column;
}
.app_post{
    padding:20px;
}